<form [formGroup]="form" (ngSubmit)="submit(foci)">
  <div class="form-group">
  <label for="description">Description</label>
  <input
  #foci
  autofocus
  formControlName="description"
  type="text"
  id="description"
  class="form-control"
  />
  <div class="alert alert-danger" *ngIf="description?.errors && (description?.touched || description?.dirty)">
    <p *ngIf="description?.hasError('required')">This is Required!</p>
    <p *ngIf="description?.hasError('minlength')">Too Short!!</p>
    <p *ngIf="description?.hasError('maxlength')">Too Long!</p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add This to the List!</button>
  </form>
