<div class="alert alert-info" *ngIf="model?.items?.length === 0">
  <p>You Have No Todo Items! Hooray!</p>
</div>
<ul class="list-unstyled" *ngIf="model">
  <li
    class="alert"
    [ngClass]="{
      'alert-success': item.completed,
      'alert-info': !item.completed
    }"
    *ngFor="let item of model.items"
  >
    <span [ngClass]="{ completed: item.completed }"
      >{{ item.description }}
      <small *ngIf="item.isPending">Saving your Changes...</small></span
    >
    <button
      *ngIf="!item.completed && !item.isPending"
      class="btn btn-sm btn-danger"
      (click)="markCompleted(item.id)"
    >
      X
    </button>
  </li>
</ul>
